* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
}

.splash .message {
    font-size: 72px;
    line-height: 72px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 72px;
    margin-top: 50px;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    margin: 0 20px;
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.pictureDetail {
    max-width: 425px;
}

textarea:focus{   
    border-color: rgba(88, 88, 88, 0.8);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(88, 88, 88, 0.075) inset, 0 0 8px rgba(88, 88, 88, 0.6);
    outline: 0 none;
    -webkit-appearance:none;
}

.tree-container {
    margin-left: 20px;
    margin-bottom: 20px;
}

.tree-node-unselected {
    /*border: 1px solid #dae2ea;*/
    /*background: #f8faff;*/
}

.tree-node-selected {
    /*border: 1px solid #dae2ea;*/
    background: #D8D8D8;
}

.tree-node {
}

.tree-node-child-list {
    /*margin-left-left: 50px;*/
    padding-left: 20px;
}

.tree-node-wrapper {
    /*position: relative;
    margin-left: 20px;*/
    display: -webkit-flex;
    display: flex;
    margin-top: 5px;
}

.dropdown-hiden {
  display: none;
}

.tree-node-wrapper:hover .dropdown-hiden {
  display:block;
}

.tree-node-icon-container {
/*    position: absolute;
    text-align : right;
    left: -20px;*/
    margin-top: 2px;
    -webkit-flex: none;
          flex: none;
}

.tree-node-expand-button {
    /*vertical-align: top*/
/*    top : 2px;
    position: relative;*/
    margin: auto, auto;
    margin-right: 4px;
    /*margin-bottom: 2px;*/
    font-size:10px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    display:inline-block;
}

.tree-node-icon {
    font-size:16px;
}

.tree-textarea {
    /*width: 100%;*/
    overflow: hidden;
    resize: none;
    border: 0px;
    margin-right: 5px;
    box-sizing:border-box;
    -webkit-flex: 1;
          flex: 1;
}

.tree-textarea-fold {
    font-style: italic;
}


.tree-title {
    width: 100%;
    overflow: hidden;
    resize: none;
    border: 0px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 0px;
}

.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flat-mainwindow {
  position: relative;
}

.flat-titlebar {
  display: block;
  background: cornflowerblue;
  height:10px;
  flex-grow: 0;
  flex-shrink: 0;
}
.flat-window {
  position: absolute;
  border: 1px solid #d4d4d4;
  display: flex;
  flex-direction: column;
}
.flat-body {
  width: 100%;
  background-color: white;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

.main-content {
  overflow: auto;
  width: 100%;
}

.main-header {
  -moz-column-count: 2;
  -moz-column-gap: 50%;
  -webkit-column-count: 2;
  -webkit-column-gap: 50%;
  column-count: 2;
  column-gap: 50%;
}

.main-left {
  width: 400px;
  overflow: scroll;
}
.main-right {
  -webkit-flex: 1;
          flex: 1;
}

.main-tab-header {

}

.main-tab-header-close {
  position:absolute;
  right:0;
  cursor: pointer;
  padding-right:7px;
  display:none;
}

.main-tab-header:hover .main-tab-header-close {
  display:block;
}

.mosaic {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: column;
  flex-flow: column;
}

.mosaic-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row;
  flex-flow: row;
}

.mosaic-row-item {
  display: inline;
}

.mosaic-tile {
  width: 100%;
}